<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eju.startup">

    <application
        android:name=".demo.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CStartup">
        <activity
            android:name=".demo.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".demo.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".InitializationProvider"
            android:authorities="${applicationId}.eju-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.eju.startup.demo.A0"
                android:value="eju.startup" />
            <meta-data
                android:name="com.eju.startup.demo.A1"
                android:value="eju.startup" />
            <meta-data
                android:name="com.eju.startup.demo.A2"
                android:value="eju.startup" />
            <meta-data
                android:name="com.eju.startup.demo.A3"
                android:value="eju.startup" />
            <meta-data
                android:name="com.eju.startup.demo.B0"
                android:value="eju.startup" />
            <meta-data
                android:name="com.eju.startup.demo.B1"
                android:value="eju.startup" />
            <meta-data
                android:name="com.eju.startup.demo.B2"
                android:value="eju.startup" />
            <meta-data
                android:name="com.eju.startup.demo.C0"
                android:value="eju.startup" />
            <meta-data
                android:name="com.eju.startup.demo.C1"
                android:value="eju.startup" />
        </provider>
    </application>

</manifest>